<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SauRCON.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SauRCON.Properties.Settings>
            <setting name="tbHost_Text" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="tbPort_Text" serializeAs="String">
                <value>7778</value>
            </setting>
            <setting name="tbPassword_Text" serializeAs="String">
                <value>lol</value>
            </setting>
        </SauRCON.Properties.Settings>
    </userSettings>
</configuration>